.nav-menu__search-input {
  height: 20px;
  width: 150px;
  right: 0;
  overflow: hidden;
  transition: width .5s ease-in-out;
  border: 2px solid #aaa;
  border-radius: 10px;
  background: transparent;
  padding-left: 5px;

  /* webkit solution */
  &::-webkit-input-placeholder {
    background-image: url('../../../assets/svg/magnifier.svg');
    background-position: 95%;
    background-repeat: no-repeat;
    text-align:right;
  }
  /* mozilla solution */
  &:-moz-placeholder {
    background-image: url('../../../assets/svg/magnifier.svg');
    background-position: 95%;
    background-repeat: no-repeat;
    text-align:right;
  }
}

.search-lang {
  padding-bottom: 4px;
}