.article__aerospace-transportation {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: column;

  h6 {
    font-family: nexaBold;
    font-weight: 700;
  }

  p {
    font-family: nexaBook;
  }

  div[class^='col'] {
    padding-right: unset;
    padding-left: unset;
  }

  &.active {
    display: flex;
  }

  div.header-tab {
    div.wrapper {
      div {
        position: relative;
        left: -60px;
      }
    }
  }
}

.album__aerospace-transportation {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: row;
  flex-wrap: wrap;

  &.active {
    display: flex;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}