.article__consumer-goods {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: column;

  h6 {
    font-family: nexaBold;
    font-weight: 700;
  }

  p {
    font-family: nexaBook;
  }

  &.active {
    display: flex;
  }

  div.header-tab {
    div.wrapper {
      div {
        position: relative;
        left: -25px;
      }
    }
  }

  table {
    td {
      vertical-align:top;

      &:nth-child(2) {
        width: 7%;
      }
    }
  }
}

.album__consumer-goods {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: row;
  flex-wrap: wrap;

  div[class^='col'] {
    padding-right: unset;
    padding-left: unset;
  }

  &.active {
    display: flex;
    align-content: baseline;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}