.article__electrical-electronics {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: column;

  &.active {
    display: flex;
  }

  div.header-tab {
    div.wrapper {
      div {
        position: relative;
        left: -50px;
      }
    }
  }
}

.album__electrical-electronics {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: row;
  flex-wrap: wrap;

  &.active {
    display: flex;
  }

  img {
    object-fit: cover;
    overflow: hidden;
  }

  img:nth-child(1) {
    width: 100%;
    height: 50%;
    margin-bottom: 2px;
  }

  img:nth-child(2) {
    width: 50%;
    height: 50%;
    padding-right: 1px;
  }

  img:nth-child(3) {
    width: 50%;
    height: 50%;
  }
}