.article__chemical-paints {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: column;

  &.active {
    display: flex;
  }

  div.header-tab {
    div.wrapper {
      div {
        position: relative;
        left: -70px;

        @media only screen and (min-width: 768px) {
          left: -35px;
        }
      }
    }
  }
}

.album__chemical-paints {
  display: none;
  padding-right: unset;
  padding-left: unset;
  flex-direction: row;
  flex-wrap: wrap;

  &.active {
    display: flex;
  }

  img {
    object-fit: cover;
    overflow: hidden;
  }

  img:nth-child(1) {
    width: 100%;
    margin-bottom: 2px;
  }

  img:nth-child(2) {
    width: 50%;
    padding-right: 1px;
  }

  img:nth-child(3) {
    width: 50%;
  }
}