@import '../base.scss';

.page-section {
  &.bg_blue {
    @include adp-blue;
  }

  .industries-applications {
    width: 100%;
    justify-content: space-between;
    font-size: .8rem;
    color: white;

    @media only screen and (min-width: 922px) {
      display: flex;
    }

    .header {
      margin-bottom: 2rem;

      h2 {
        margin-bottom: 1rem;
      }

      div.header-tab {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        @media only screen and (min-width: 922px) {
          justify-content: space-between;
        }

        div.wrapper {
          white-space: nowrap;
          max-width: 4rem;
          max-height: 4rem;
          margin-bottom: 2rem;

          div {
            font-size: 1rem;
            font-family: nexaBold;
            font-weight: 700;
          }

          button {
            background: none;
            border: none;
            height: 4rem;
            width: 4rem;
            color: white;
            font-size: .8rem;
            font-weight: 800;
            padding: unset;
            line-height: normal;

            &.tab-button__consumergoods {
              position: relative;
              bottom: 9px;
              img {
                max-height: 75%;
              }
            }

            &.tab-button__electricalelectronics {
              position: relative;
              bottom: 6px;
              img {
                width: 70%;
              }
            }

            &.tab-button__healthcare {
              position: relative;
              bottom: 8px;
              img {
                width: 40%;
              }
            }

            &.tab-button__chemicalpaints {
              position: relative;
              bottom: 10px;
              img {
                width: 50%;
              }
            }

            &.tab-button__aerospacetransportation {
              position: relative;
              bottom: 7px;
              img {
                width: 65%;
              }
            }

            &.tab-button__energyresources {
              position: relative;
              bottom: 7px;
              img {
                width: 30%;
              }
            }

            img {
              max-height: 100%;
              max-width: 100%;

              &:not(.active) {
                opacity: .4;
              }
            }
          }
        }
      }
    }
  }
}