.our-presence {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: wrap;
  font-size: .8rem;
  font-family: nexa;

  .article {
    padding: unset;
    margin: unset;

    & .map-container {
      &__pic {
        width: 100%;
        padding-left: 100px;
      }
    }
  }
}
