.masthead {
  height: 400px;
  width: 100%;
  display: block;

    @media only screen and (min-width: 992px) {
      height: 500px;
    }

  .carousel-indicators {
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    &.container {
      padding: 5px 5%;
    }
    
    @media only screen and (min-width: 992px) {
      justify-content: flex-end;
    }

    & li {
      border-top: none;
      border-bottom: none;
      height: 12px;
      width: 12px;
      border-radius: 6px;
      margin-right: 4px;
      margin-left: 4px;
    }
}

  .carousel-caption {
    display: flex !important;
    place-content: center;

    @media only screen and (min-width: 992px) {
      place-content: unset;
      left: 0;
      right: 0;
      bottom: 0;
    }

    p {
      font-family: nexa;
      font-size: 40px;
      font-weight: 600;
      opacity: .6;

      @media only screen and (min-width: 992px) {
        font-size: 80px;
      }
    }

  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media only screen and (min-width: 992px) {
      &:nth-child(2) {
        .carousel-caption {
          top: 10%;
          place-content: flex-end;
        }
      }

      &:nth-child(4) {
        .carousel-caption {
          top: 45%;
          place-content: flex-end;
        }
      }
    }
  }
}