.about-us {
  width: 100%;
  justify-content: space-between;
  font-size: .8rem;

  @media only screen and (min-width: 768px) {
    display: flex;

    h2 {
      margin-bottom: 2rem;
    }

    .album {
      padding-right: unset;
      padding-left: unset;
    }

    .article {
      padding-right: unset;
      padding-left: unset;
    }
  }

  img {
    object-fit: cover;
    overflow: hidden;
  }

  img:nth-child(1) {
    width: 100%;
    margin-bottom: 2px;
  }

  img:nth-child(2) {
    width: 50%;
    padding-right: 1px;
  }

  img:nth-child(3) {
    width: 50%;
  }
}