@import '../base.scss';

.page-section {
  &.bg_grey {
    @include adp_grey;
  }

  .services {
    width: 100%;
    justify-content: space-between;
    font-size: .8rem;
    font-family: nexa;
    color: white;
    display: flex;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #231F20;
    }

    p {
      font-family: nexaBook;
    }

    .article {
      padding: unset;
      margin: unset;
    }

    .album {
      padding: unset;
      margin: unset;
    }
  }
}