@import '../base.scss';

.page-section {
  &.bg_grey {
    @include adp_grey;
  }

  .services {
    width: 100%;
    justify-content: space-between;
    font-size: .8rem;
    font-family: nexa;
    color: white;
    display: flex;
    flex-wrap: wrap;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #929497;
    }

    p {
      font-family: nexaBook;
    }

    .article {
      padding: unset;
      margin: unset;
    }

    .album {
      padding: unset;
      margin: unset;
      margin-top: 5%;
      @media only screen and (min-width: 992px) {
        margin: unset;
      }
    }
  }
}