// Styling for the navbar
.navbar {
  opacity: 0.95;
  background-color: #fff;
  align-items: center;

  &-brand {
    margin-left: 1rem;
  }

  &-collapse {
    .collapse {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 768px) {
    &-collapse {
      display: flex !important;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 0;
    }

    padding: .5rem 15%;
    align-items: baseline;
  }

  &-brand {
    color: skyblue;
    font-size: 36px;
  }

  &-toggler {
    height: 36px;
    width: 36px;
    padding: 6px 2px 0px 2px;
    margin-right: 1rem;
    border: 1px solid black;

    .navbar-toggler-icon:after {
        content: '\2630';
    }
  }

  .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;

      &-item {
        margin-right: 18px;

        &.search-lang {
          margin-right: 0px;
        }

        &.text {
          position: relative;
          bottom: 3px;
        }

        a {
          color: #555;
          font-size: 12px;
        }
      }
    }

    &-menu {
      &.search-lang {
        display: flex;
        max-width: 120px;
        flex-flow: wrap;
        place-content: center;

        @media only screen and (min-width: 720px) {
          place-content: flex-end;
        }
      }

      button {
        font-size: 23px;
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 10px;
        background: none;
        padding: 0;
        margin: 0;
        padding-left: 4px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}