@import '../base.scss';

.navbar {
  opacity: 0.95;
  background-color: #f8f8f8;
  align-items: center;
  padding: unset;

  .container {
    padding: 10px 5%;
  }

  &-brand {
    display: flex;
    height: 40px;
    margin: unset;
    padding: unset;

    img {
      height: 100%;
      object-fit: cover;
    }

  }

  &-collapse {
    .collapse {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 992px) {
    &-brand {
      height: 60px;
    }

    &-collapse {
      display: flex !important;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 0;
    }
  }

  &-toggler {
    height: 36px;
    width: 36px;
    padding: 6px 2px 0px 2px;
    margin-right: 1rem;
    border: 1px solid black;

    .navbar-toggler-icon:after {
        content: '\2630';
    }
  }

  .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-family: nexa;

    @media only screen and (min-width: 992px) {
      flex-direction: row;
      align-items: flex-end;

      &-item {
        margin-right: 18px;

        &.search-lang {
          margin-right: 0px;
        }

        &.text {
          position: relative;
          bottom: 3px;
        }

        a {
          color: #555;
          font-size: .75rem;
        }
      }
    }

    &-menu {
      &.search-lang {
        display: flex;
        max-width: 120px;
        flex-flow: wrap;
        place-content: center;

        @media only screen and (min-width: 992px) {
          place-content: flex-end;
        }
      }

      button {
        font-size: 1.5rem;
        border: none;
        background: none;
        margin: 0;
        padding: 0px 0px 0px 4px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}