// Styling for the navbar
.navbar {
    color: #87cefa !important;
    &.navbar-light{
        background-color: #eee;
    }

    &.navbar-dark{
        background-color: black;
    }

    img {
        height: 40px;
    }
}