@import '../base.scss';

.footer {
  @include adp-blue;
  color: white;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  margin: unset;

  .container {
    flex-wrap: wrap;
  }

  h2 {
    font-family: nexaBold;
    font-weight: 700;
    font-size: .8rem;
  }

  div {
    padding: unset;
  }

  p {
    margin: unset;
    font-family: nexaBook;
  }

  .container {
    display: flex;
    padding: 0 5%;
  }

  .about {
    font-size: 8px;
    margin-bottom: 10px;

    @media only screen and (min-width: 992px) {
      border-right: 3px solid white;
      padding: 10px 20px 15px 0;
      margin-bottom: 15px;
    }
  }

  .contact {
    font-size: 9px;
    margin-bottom: 15px;
    padding: unset;

    @media only screen and (min-width: 992px) {
      padding: 10px 20px 15px 15px;
    }
  }
  
  .follow {
    font-size: 9px;

    h2 {
      margin: 1rem 0;
    }

    .socmed {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media only screen and (min-width: 992px) {
        margin-top: 1em;
      }

      a {
        height: 36px;
        width: 36px;
        padding: 3px;

        img {
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media only screen and (min-width: 992px) {
      align-items: unset;
      top: 30%;
    }

    img {
      width: auto;
      height: 48px;
    }
  }
}