@import '../base.scss';

.footer {
  @include adp-blue;
  color: white;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  margin: unset;

  .container {
    flex-wrap: wrap;
  }

  h2 {
    font-family: nexaBold;
    font-weight: 700;
    font-size: .8rem;
  }

  div {
    padding: unset;
  }

  p {
    margin: unset;
    font-family: nexaBook;
  }

  .container {
    display: flex;
    padding: 0 5%;
  }

  .about {
    font-size: 8px;
    margin-bottom: 10px;

    @media only screen and (min-width: 992px) {
      border-right: 3px solid white;
      padding: 10px 20px 15px 0;
      margin-bottom: 15px;
    }
  }

  .contact {
    font-size: 9px;
    margin-bottom: 15px;
    padding: unset;

    @media only screen and (min-width: 992px) {
      padding: 10px 20px 15px 15px;
    }
  }
  
  .follow-logo {
    .follow {
      font-size: 9px;
      display: inline-block;

      h2 {
        margin: 1rem 0;
      }

      .socmed {
        width: 100%;
        display: block;
        float: left;
        margin-top: 6px;

        @media only screen and (min-width: 992px) {
          margin-top: 10px;
        }

        a {
          height: 36px;
          width: 36px;
          padding: 3px;

          img {
            height: 36px;
            width: 36px;
            display: inline-block;
          }
        }
      }
    }

    .logo {
      display: block;
      float: right;
      margin-top: 6px;

      @media only screen and (min-width: 992px) {
        margin-top: 5px;
      }

      img {
        width: auto;
        height: 36px;
        @media only screen and (min-width: 992px) {
          height: 48px;
        }
      }
    }
  }
}